<div class="py-4">
    <div class="container">
       <div class="row" *ngIf ="employeeHomePagePics.length > 0">
         <form [formGroup]="HomPageForm" style="width:100%;" enctype="multipart/form-data" style="margin:0px 0px 0px 2px; padding:0px;">
         <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12" id="mainClassLeft"> 
            <img [src]="imageSrcLeft || 'assets/files/profilePics/default.png'" id="leftSidePrfilePicImg" (click)="fn_leftSidePrfilePic();" class="cursorHand" style="width:545px; height:175px">
            <input type="file" id="leftSideFile" style="display:none" name="file-attachment" (change)="onLeftSidePicChange($event);" accept="image/*" formControlName="leftSideFile"/> 
            <div *ngIf="ImageSizeerror" class="warning-block">Please upload large images (more than 550 X 175)</div>
            <div *ngIf="ImageTypeeerror" class="warning-block">Only allow images (.png , .jpg, .jpg)</div>
         </main>
         <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12"  id="mainClassRight">
            <img  [src]="imageSrcRight || 'assets/files/profilePics/default.png'" id="rightSidePrfilePicImg" (click)="fn_rightSidePrfilePic();" class="cursorHand" style="width:545px; height:175px">
            <input type="file" id="rightSideFile" style="display:none" name="file-attachment" (change)="onRightSidePicChange($event);" accept="image/*" formControlName="rightSideFile"/> 
            <div *ngIf="ImageSizeerror" class="warning-block">Please upload large images (more than 550 X 175)</div>
            <div *ngIf="ImageTypeeerror" class="warning-block">Only allow images (.png , .jpg, .jpg)</div>
         </main>
         </form>
       </div>
       <div class="row" style="height: 5px;"></div>
       <div class="row">
          <!-- Main Content -->
          <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
             <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
                <ul class="nav nav-justified border-bottom osahan-line-tab" id="myTab" role="tablist">
                   <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="feather-edit"></i> Share an update</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                         <i class="feather-image"></i> Upload a photo</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="feather-clipboard"></i> Write an article</a>
                   </li>
                </ul>
                <div class="tab-content" id="myTabContent" *ngIf ="employeeProfiles.length > 0">
                   <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div class="p-3 d-flex align-items-center w-100" href="#">
                         <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="{{employeeProfiles[0].imageProfile | replaceImg40}}" onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                            <div class="status-indicator bg-success"></div>
                         </div>
                         <div class="w-100">
                            <textarea placeholder="Write your thoughts..." class="form-control border-0 p-0 shadow-none" rows="1" [(ngModel)]="thoughts" (blur)="clearValue($event)"></textarea>
                         </div>
                      </div>
                   </div>
                   <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <div class="p-3 w-100">
                        <form [formGroup]="HomePagePostForm" style="width:100%;" enctype="multipart/form-data" style="margin:0px 0px 0px 2px; padding:0px;">
                         <textarea placeholder="Upload your pictures.." class="form-control border-0 p-0 shadow-none" rows="3" (click)="fn_UploadImagePost();" class="cursorHand" style="width: 100%; border: none;;"></textarea>
                         <input type="file" id="uploadImageFile" style="display:none" name="file-attachment" (change)="onUploadImageFileChange($event);" accept="image/*" formControlName="frm_uploadImageFile"/> 
                         </form>
                      </div>
                   </div>
                   <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                      <div class="p-3 w-100">
                         <textarea placeholder="Write an article..." class="form-control border-0 p-0 shadow-none" rows="3" [(ngModel)]="thoughts" (blur)="clearValue($event)"></textarea>
                      </div>
                   </div>
                </div>
                <div class="border-top p-3 d-flex align-items-center">
                   
                    <div class="mr-auto">
                     <div class="warning-block" *ngIf="isPostEmpty">Enter your post</div>
                   <!--   <a href="#" class="text-link small"><i class="feather-map-pin"></i> Add Location</a>-->
                     </div> 
                   <div class="flex-shrink-1">
                      <!-- <button type="button" class="btn btn-light btn-sm">Preview</button> -->
                      <button type="button" class="btn btn-primary btn-sm" (click)="submitPost();">Post Status</button>
                   </div>
                </div>
             </div>
             <div class="row" *ngIf ="postComments.length > 0">
               <div class="box mb-3 shadow-sm border rounded bg-white osahan-post full-width" *ngFor="let item of postComments | keyvalue ; index as i" >
                <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                   <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="{{item.value['posts'].imageProfile | replaceImg40}}" onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                      <div class="status-indicator bg-success"></div>
                   </div>
                   <div class="font-weight-bold">
                      <div class="text-truncate">{{item.value['posts'].firstName}} {{item.value['posts'].lastName}}</div>
                      <div class="small text-gray-500">{{item.value['posts'].positionName}} at {{item.value['posts'].companyName}}</div>
                   </div>
                   <span class="ml-auto small">{{item.value['posts'].created_at}}</span>
                </div>
                <div class="p-3 border-bottom osahan-post-body" *ngIf="item.value['posts'].type == 'text'">
                  {{item.value['posts'].post}}
                </div>

                <div class="p-3 border-bottom osahan-post-body" *ngIf="item.value['posts'].type == 'image'">
                  <img src="{{item.value['posts'].post}}" onerror="this.src='assets/files/profilePics/blank.png';" class="img-fluid">
                </div>

                <div class="p-3 border-bottom osahan-post-footer">
                   <a href="" class="mr-3 text-secondary" (click)="postLike(item.value['posts'].id , item.value['posts'].cnt_likes); false;"><i class="feather-heart text-danger"></i><span id="likeDiv_{{item.value['posts'].id}}">{{item.value['posts'].cnt_likes}}</span></a>
                   <a href="" class="mr-3 text-secondary" (click)="displayMessage(item.value['posts'].id); false;"><i class="feather-message-square"></i><span id="commentDiv_{{item.value['posts'].id}}">{{item.value['posts'].cnt_comments}}</span></a>
                   <a href="" class="mr-3 text-secondary" (click)="postSharing(item.value['posts'].id , item.value['posts'].cnt_shares); false;"><i class="feather-share-2"></i><span id="shareDiv_{{item.value['posts'].id}}">{{item.value['posts'].cnt_shares}}</span></a>
                </div>
                <div class="row" style="display: none;" id="commentPost_{{item.value['posts'].id}}">
                <div class="p-3 d-flex align-items-top border-bottom osahan-post-comment" *ngFor="let cmt of item.value['posts'].comments">
                   <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="{{cmt.imageProfile | replaceImg40}}" onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                      <div class="status-indicator bg-success"></div>
                   </div>
                   <div class="font-weight-bold">
                      <div class="text-truncate"> {{cmt.firstName}} {{cmt.lastName}} <span class="float-right small">{{cmt.created_at}}</span></div>
                      <div class="small text-gray-500" style="width: 473px !important;">{{cmt.comments}}</div>
                   </div>
                </div>
                <div class="p-3">
                   <!-- <textarea placeholder="Add Comment..." class="form-control border-0 p-0 shadow-none" rows="1" (change)="pushComment($event.target.value, i,item.value['posts'].id);" (blur)="clearValue($event);" value=""></textarea> -->
                   <input type="text" placeholder="Add Comment..." class="form-control border-0 p-0 shadow-none" (keydown.enter)="pushComment($event.target.value, i,item.value['posts'].id, $event);" >
                </div>
               </div>
               </div>
            </div>
          </main>
          <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
             <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
               <div  *ngIf="isEmployeeProfileLoaded">
               <div class="py-4 px-3 border-bottom">
                   <img src="{{employeeProfiles[0].imageProfile}}" onerror="this.src='assets/files/profilePics/blank.png';" class="img-fluid mt-2 rounded-circle" alt="Responsive image">
                   <h5 class="font-weight-bold text-dark mb-1 mt-4">{{employeeProfiles[0].firstName}} {{employeeProfiles[0].lastName}}</h5>
                   <p class="mb-0 text-muted">UI / UX Designer</p>
                </div>
               </div> 
                <div class="d-flex">
                   <div class="col-6 border-right p-3">
                      <h6 class="font-weight-bold text-dark mb-1">358</h6>
                      <p class="mb-0 text-black-50 small">Connections</p>
                   </div>
                   <div class="col-6 p-3">
                      <h6 class="font-weight-bold text-dark mb-1">85</h6>
                      <p class="mb-0 text-black-50 small">Views</p>
                   </div>
                </div>
                <div class="overflow-hidden border-top">
                   <a class="font-weight-bold p-3 d-block" href="#"> View my profile </a>
                </div>
             </div>
             <div class="box mb-3 shadow-sm rounded bg-white view-box overflow-hidden">
                <div class="box-title border-bottom p-3">
                   <h6 class="m-0">Profile Views</h6>
                </div>
                <div class="d-flex text-center">
                   <div class="col-6 border-right py-4 px-2">
                      <h5 class="font-weight-bold text-info mb-1">08 <i class="feather-bar-chart-2"></i></h5>
                      <p class="mb-0 text-black-50 small">last 5 days</p>
                   </div>
                   <div class="col-6 py-4 px-2">
                      <h5 class="font-weight-bold text-success mb-1">+ 43% <i class="feather-bar-chart"></i></h5>
                      <p class="mb-0 text-black-50 small">Since last week</p>
                   </div>
                </div>
                <div class="overflow-hidden border-top text-center">
                   <img src="assets/img/chart.png" class="img-fluid" alt="Responsive image">
                </div>
             </div>
             <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">
                <img src="assets/img/job1.png" class="img-fluid" alt="Responsive image">
                <div class="p-3 border-bottom">
                   <h6 class="font-weight-bold text-dark">Osahan Solutions</h6>
                   <p class="mb-0 text-muted">Looking for talent?</p>
                </div>
                <div class="p-3">
                   <button type="button" class="btn btn-outline-primary pl-4 pr-4"> POST A JOB </button>
                </div>
             </div>
          </aside>
          <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
             <div class="box shadow-sm border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                   <h6 class="m-0">People you might know</h6>
                </div>
                <div class="box-body p-3" *ngIf ="peopleWhoMayKnow.length > 0">
                   <div class="d-flex align-items-center osahan-post-header mb-3 people-list" *ngFor="let item of peopleWhoMayKnow">
                      <div class="dropdown-list-image mr-3">
                         <img class="rounded-circle" src="{{item.imageProfile}}" alt="">
                         <div class="status-indicator bg-success"></div>
                      </div>
                      <div class="font-weight-bold mr-2">
                         <div class="text-truncate">{{item.firstName}} {{item.lastName}}</div>
                         <div class="small text-gray-500">{{item.positionName}} at {{item.companyName}}
                         </div>
                      </div>
                      <span class="ml-auto"><button type="button" class="btn btn-light btn-sm"><i class="feather-user-plus"></i></button>
                      </span>
                   </div>
                   
                </div>
             </div>
             <div class="box shadow-sm border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3 d-flex align-items-center">
                   <h6 class="m-0">Photos</h6>
                   <a class="ml-auto" href="#">See All <i class="feather-chevron-right"></i></a>
                </div>
                <div class="box-body p-3" *ngIf ="peopleWhoMayKnow.length > 0">
                   <div class="gallery-box-main">
                  
                     <div class="gallery-box">
                        <img class="img-fluid" src="{{peopleWhoMayKnow[0].imageProfile | replaceImg40 }}"  onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                        <img class="img-fluid" src="{{peopleWhoMayKnow[1].imageProfile | replaceImg40 }}" onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                        <img class="img-fluid" src="{{peopleWhoMayKnow[2].imageProfile | replaceImg40 }}" onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                     </div>
                        <div class="gallery-box">
                        <img class="img-fluid" src="{{peopleWhoMayKnow[3].imageProfile | replaceImg40 }}" onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                        <img class="img-fluid" src="{{peopleWhoMayKnow[4].imageProfile | replaceImg40 }}" onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                        <img class="img-fluid" src="{{peopleWhoMayKnow[5].imageProfile | replaceImg40 }}" onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                        </div>
                        <div class="gallery-box">
                        <img class="img-fluid" src="{{peopleWhoMayKnow[6].imageProfile | replaceImg40 }}" onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                        <img class="img-fluid" src="{{peopleWhoMayKnow[7].imageProfile | replaceImg40 }}" onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                        <img class="img-fluid" src="{{peopleWhoMayKnow[8].imageProfile | replaceImg40 }}" onerror="this.src='assets/files/profilePics/blank.png';" alt="">
                     </div>
                  

                </div> 
                </div>
             </div>
             <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">
                <img src="assets/img/ads1.png" class="img-fluid" alt="Responsive image">
                <div class="p-3 border-bottom">
                   <h6 class="font-weight-bold text-gold">Osahanin Premium</h6>
                   <p class="mb-0 text-muted">Grow & nurture your network</p>
                </div>
                <div class="p-3">
                   <button type="button" class="btn btn-outline-gold pl-4 pr-4"> ACTIVATE </button>
                </div>
             </div>
             <div class="box shadow-sm border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                   <h6 class="m-0">Jobs
                   </h6>
                </div>
                <div class="box-body p-3">
                   <a href="job-profile.html">
                      <div class="shadow-sm border rounded bg-white job-item mb-3">
                         <div class="d-flex align-items-center p-3 job-item-header">
                            <div class="overflow-hidden mr-2">
                               <h6 class="font-weight-bold text-dark mb-0 text-truncate">Product Director</h6>
                               <div class="text-truncate text-primary">Spotify Inc.</div>
                               <div class="small text-gray-500"><i class="feather-map-pin"></i> India, Punjab</div>
                            </div>
                            <img class="img-fluid ml-auto" src="assets/img/l3.png" alt="">
                         </div>
                         <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                            <div class="overlap-rounded-circle">
                               <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="assets/img/p9.png" alt="" data-original-title="Sophia Lee">
                               <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="assets/img/p10.png" alt="" data-original-title="John Doe">
                               <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="assets/img/p11.png" alt="" data-original-title="Julia Cox">
                               <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="assets/img/p12.png" alt="" data-original-title="Robert Cook">
                            </div>
                            <span class="font-weight-bold text-muted">18 connections</span>
                         </div>
                         <div class="p-3 job-item-footer">
                            <small class="text-gray-500"><i class="feather-clock"></i> Posted 3 Days ago</small>
                         </div>
                      </div>
                   </a>
                   <a href="job-profile.html">
                      <div class="shadow-sm border rounded bg-white job-item">
                         <div class="d-flex align-items-center p-3 job-item-header">
                            <div class="overflow-hidden mr-2">
                               <h6 class="font-weight-bold text-dark mb-0 text-truncate">.NET Developer</h6>
                               <div class="text-truncate text-primary">Invision</div>
                               <div class="small text-gray-500"><i class="feather-map-pin"></i> London, UK
                               </div>
                            </div>
                            <img class="img-fluid ml-auto" src="assets/img/l4.png" alt="">
                         </div>
                         <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                            <div class="overlap-rounded-circle">
                               <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="assets/img/p13.png" alt="" data-original-title="Sophia Lee">
                               <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="assets/img/p1.png" alt="" data-original-title="John Doe">
                               <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="assets/img/p3.png" alt="" data-original-title="Robert Cook">
                            </div>
                            <span class="font-weight-bold text-muted">18 connections</span>
                         </div>
                         <div class="p-3 job-item-footer">
                            <small class="text-gray-500"><i class="feather-clock"></i> Posted 3 Days ago</small>
                         </div>
                      </div>
                   </a>
                </div>
             </div>
          </aside>
       </div>
    </div>
    <div id="waitDialog" style="display: none; "></div>

    <div id="imageCropDailogL" style="display: none; display: flex;  justify-content: center;">
      <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1 / 1"
      [resizeToWidth]="550" 
      [resizeToHeight]="175"
      format="png"
      (imageCropped)="imageCroppedL($event)"
      (imageLoaded)="imageLoadedL()"
      (cropperReady)="cropperReadyL()"
      (loadImageFailed)="loadImageFailedL()"
  ></image-cropper>
  </div>


  <div id="imageCropDailogR" style="display: none; display: flex;  justify-content: center;">
   <image-cropper
   [imageChangedEvent]="imageChangedEventR"
   [maintainAspectRatio]="true"
   [aspectRatio]="4 / 1"
   format="png"
   (imageCropped)="imageCroppedR($event)"
   (imageLoaded)="imageLoadedR()"
   (cropperReady)="cropperReadyR()"
   (loadImageFailed)="loadImageFailedR()"
></image-cropper>
</div>

 </div>